.navbar{
  display: flex;
  justify-content: space-between;
  border: 2px solid #3498db;
  background-color: #3498db;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-item{
  color: white;
  cursor: pointer;
  transition: color 0.3 ease;
}